.home{
  padding: 50px;
}

.title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}


.results{
  .resultsTitle{
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .line{
    height: 2px;
    width: auto;
    background-color: #eaeaea;
  }
}